<%- include("partials/header1") %>
<div class="container">
  <h1>Add New Destination</h1>
<form action="/destinations" method="POST">

  <div class="row d-flex">
    <div class="form-group  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <label for="exampleInputName">Name</label>
      <input name="name" type="text" class="form-control" id="exampleInputName"  placeholder="Enter Destination Name">
    </div>
    <div class="form-group  col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <label for="exampleInputUnique">Unique Name</label>
      <input name="uniquename" type="text" class="form-control" id="exampleInputUnique"  placeholder="Enter Unique Name">
    </div>
  </div>

<div class="row d-flex ">
    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <label for="exampleInputCity">City</label>
        <input name="city" type="text" class="form-control" id="exampleInputCity"  placeholder="Enter City">
      </div>

      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <label for="exampleInputState">State</label>
        <input name="state" type="text" class="form-control" id="exampleInputState"  placeholder="Enter State/UT">
      </div>
    </div>

    <div class="row d-flex ">
      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <label for="exampleInputImage">Image</label>
        <input name="image" type="url" class="form-control" id="exampleInputImage"  placeholder="Enter URL">
      </div>

      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
        <label for="exampleInputPoints">Points</label>
        <input name="points" type="number" class="form-control" id="exampleInputPoints"  placeholder="Enter Points">
      </div>
    </div>

      <div class="row d-flex ">
        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label for="exampleInputLatitude">Latitude</label>
            <input name="latitude" type="number" step="any" class="form-control" id="exampleInputLatitude"  placeholder="Enter Latitude">
          </div>
    
          <div class="form-group col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <label for="exampleInputLongitude">State</label>
            <input name="longitude" type="number" step="any" class="form-control" id="exampleInputLongitude"  placeholder="Enter Longitude">
          </div>
        </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h4 class="text-center"><a href="/destinations" >Back</a></h4>
</div>
<%- include("partials/footer1") %>
