<%- include("partials/header") %>
<div  class="container ">
    
    <div style="margin-bottom:250px;" >
      <div class="row d-flex justify-content-center ">
      <div  style=" max-width: 250px; background-image: linear-gradient( #db4545 0%, #f1b4c3 74%);" class="hvr card mt-3 ml-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      
      <div  class=" card-body">
        <h4 class="text-center card-title">ADD POINTS</h4>
        <p  class="text-center card-text">Are you at some Tourism Spot? Then add points FAST!!</p>
        <a  href="/detect" class="text-center bgc text-white btn d-flex justify-content-center btn-primary">VERIFY LOCATION</a>
      </div>
    </div>
    <!--<div  style="max-width: 250px; background-image: linear-gradient( #2980B9 -20%, #6DD5FA 74%);;" class="hvr card mt-3 ml-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      
      <div  class=" card-body">
        <h4 class="text-center card-title">NEARBY SPOTS</h4>
        <p  class="text-center card-text">Planning a weekend trip? Explore nearby places NOW!!</p>
        <a  href="/explore" class="d-flex justify-content-center text-center bgc text-white btn btn-primary">EXPLORE</a>
      </div>
    </div>-->

    <div  style="max-width: 250px; background-image: linear-gradient( #1D976C 0%, #93F9B9 74%);;" class="hvr card mt-3 ml-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">

      <div  class=" card-body">
        <h4 class="text-center card-title">ALL PLACES</h4>
        <p  class="text-center card-text">Get a Complete list of tourism spots with information !!</p>
        <a  href="/destinations" class="d-flex justify-content-center bgc text-white btn btn-primary">DESTINATIONS</a>
      </div>
    </div>

    <div style="max-width: 250px; background-image: linear-gradient( #CAC531 0%, #F3F9A7 74%);;" class="hvr card mt-3 ml-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      
      <div  class=" card-body">
        <h4 class="text-center card-title">LEADERBOARD</h4>
        <p  class="text-center card-text">See how many others have travelled more than you!!</p>
        <a  href="/leaderboard" class="d-flex justify-content-center bgc text-white btn btn-primary">LEADERBOARD</a>
      </div>
    </div>


  </div>
</div>
<!--<div  class="conatiner">
<div ><a href="/destinations">See All Destinations</a></div>
<div ><a href="/newsletter">Subscribe to Our News Letter</a></div>
<div ><a href="/leaderboard">Leader Board</a></div>
<div ><a href="/detect">Detect Location to Add Points</a></div>
<div ><a href="/explore">Explore Nearby Tourism Spots</a></div>
</div>-->
<%- include("partials/footer") %>